#all{
	background-color: #F07427;
}
#novideo{
	margin-left: 500px;
}
#descriptionnovideo{
	margin-left: 200px;
	font-size: 25px;
}
#nextvideo{
	margin-left: 550px;
}
#nextvideotwo{
	margin-left: 550px;
	font-size: 25px;
}
#sendmsg{
	margin-left: 550px;
	font-size: 25px;
	color: #98E22B;
}
#home{
	color: #82C392;
	font-size: 25px;
	background-color: #674540;
	border: 1px solid #000000;
	margin-left: 500px;
}
#yt{
	color: #000000;
	font-size: 25px;
	background-color: #E70000;
	border: 1px solid #000000;
	margin-left: 150px;
}
#art1{
	margin-left: 400px;
}